body{
    width: auto;
    margin: 20px 20px;
    padding: 3%;
    border: 5px black;
}
html{
    font-size: 25px;
    font-family: 'Product Sans', sans-serif;
    background-color:white;
    color:black;
    text-align: center;
}
h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color:black;
}
p,li{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}
img{
    display: block;
    margin: 0 auto;
}
button{
    text-align: center;
}
ul{
    margin: 10px auto;
    background-color: azure;
    width: fit-content;
    padding: auto;
}