* {
    font-family: 'Product Sans', sans-serif;

    /*设置全局字体*/
    color: white;
}

.notepad {
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em 0;
    width: fit-content;
    border: 3px solid #0085f2;
    background-color: white;
    color: black;
}

html {
    background-image: url(../images/bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    padding: 1em;
}

/*自适应*/
.wrapcontent {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    width: auto;
}

.mainheading {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-bar {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;

}

button {
    color: black;
}

button[class="changeusr"] {
    display: block;
    margin: auto;
}

/*文章块格式*/
.articles {
    border-radius: 25px;
    background-color: white;
    opacity: 0.8;
    /*透明度*/
    width: auto;
    height: 30em;
    color: black;
    padding: 1em;
}

.article-heading,
.article-content {
    color: black;
    text-align: center;
}


.comment-state {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;/*启用元素换行*/
}

.comments {
    display: block;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: auto;
    max-width: 500px;
    margin: 20px;
}

.comments p,
.comments p * {
    color: black;
    margin: 5px;
}
.comment-usr{
    display: flex;
    align-items: baseline;
}
.time{
    font-size: 10px;
}

.controls {
    display: flex;
    justify-content: center;
}

#area {
    display: block;
    color: black;
    border: 0;
    border-left: 25px solid rgb(45, 115, 148);
    width: 75em;
    margin-top: 20px;
    border-radius: 25px;
    background-color: rgba(176, 255, 238, 0.5);
}

.h3heading{
    display: block;
    width: fit-content;
    padding: 5px 1em;
    text-align: center;
    font-size: 25px;
    background-color: white;
    color:black;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    font-size: 13px;
    text-align: center;
    padding: 1px;
    margin: 2px 0;
}

#commentinputarea{
    background-color: white;
    border-radius: 40px;
    padding:1em;
    padding-top: 2px;
    padding-bottom: 2px;
}
.countfont{
    color:black;
}
#counter{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
}