*{
    font-family: 'Product Sans', sans-serif;
    /*设置全局字体*/
}

#changable-h2{
    padding:0.5em;
    margin: 1em 0;
    width: fit-content;
    border-left:3px solid #0085f2;
    background-color: rgba(0,133,242,0.1);
}

body{
    border-top:5px solid rgb(72, 179, 241);
    padding: 3%;
}